/*
*/

body {
    background: #cccccc;
}

h1 {
    text-align: center;
}

hr {
    border: 0;
    border-bottom: 1px dashed gray;
    margin: 10px 0;
}

pre {
	background-color: #111;
	color: #eee;
	padding: 10px;
	width: min-content;
	font-family: monospace;
}
